<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UCSC Test Automation Demo">
	<listeners>
		<listener class-name="com.hr.qa.extentreportlistener.ExtentReportListner" />
	</listeners>
	<test name="UCSC Test Automation Demo Testcases">
		<classes>
			<!-- <class name="com.hr.qa.testcases.HomePageTest" />
			<class name="com.hr.qa.testcases.LoginPageTest" />-->
			<class name="com.hr.qa.testcases.UserPageTest" />
		</classes>
	</test>
</suite>